@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* { 
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

#boxoffice{

    color: #D7E1E1;
    font-size: 25pt;
    text-align: center;
}

#mybtn{
    width:100px;
    margin:auto;
    display: block;
    
}

#date{

    width:100px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    margin:auto;
    display: block;
}